<div>
    <a href=""><img src="../../../assets/Logos proyecto/linkedin.png" alt="logo linkedin" id="linkedin"></a>
    <a href=""><img src="../../../assets/Logos proyecto/twitter.png" alt="logo twitter"id="twitter"></a>
    <a href=""><img src="../../../assets/Logos proyecto/instagram.png" alt="logo instagram" id="instagram"></a>
    <a href=""><img src="../../../assets/Logos proyecto/github.png" alt="logo github" id="github"></a>
    <a href=""><img src="../../../assets/Logos proyecto/facebook.png" alt="logo facebook" id="facebook"></a>
</div>
