<div class="row">
    <div >
        <img src="../../../assets/Logos proyecto/bann.webp" class="img-fluid" id="fotodeperfil">
    </div>

    <div >
        <p id="nombre">Diaz Noelia Johanna</p>
        <p id="titulo">Full Stack Developer Jr</p>
    </div>
    <div >
        <span>
            <h1>Acerca de mi</h1>
            <p>“Busco la oportunidad de progresar, ya que soy una persona emprendedora y exigente de sí misma. Me motiva alcanzar logros dentro de la empresa contribuyendo a mi experiencia profesional, actitud, valores y modo de trabajo. Mi meta es crecer profesionalmente para desempeñar de manera óptima las funciones asignadas, enfrentándome a nuevos retos, poniéndome a prueba día a día y teniendo la oportunidad de crecer en el mí área laboral, personal e intelectual”</p>
        </span>
    </div>
</div>