<div class="row">
    <h1>Proyectos realizados</h1>
     <div class="contenedor">
              <div >
                 <h2>Proryecto 1</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem repudiandae tenetur culpa assumenda unde laboriosam exercitationem incidunt quasi magni fugit, inventore corporis a odio, voluptatibus repellat, dolores quis facilis neque.</p>
     </div>
     <div >
         <img src="../../../assets/Logos proyecto/proy 1.png" class="img_proyecto">
     </div>
    </div>
    <div class="contenedor">
        <div >
           <h2>Proryecto 1</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem repudiandae tenetur culpa assumenda unde laboriosam exercitationem incidunt quasi magni fugit, inventore corporis a odio, voluptatibus repellat, dolores quis facilis neque.</p>
</div>
<div >
   <img src="../../../assets/Logos proyecto/proy 1.png" class="img_proyecto">
</div>
</div>
<div class="contenedor">
              <div>
                 <h2>Proryecto 1</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem repudiandae tenetur culpa assumenda unde laboriosam exercitationem incidunt quasi magni fugit, inventore corporis a odio, voluptatibus repellat, dolores quis facilis neque.</p>
     </div>
     <div >
         <img src="../../../assets/Logos proyecto/proy 1.png" class="img_proyecto">
     </div>
    </div>
</div>