<div class = "row"> 
    <div class="container">
        <div class="logo">
                <img id="logoAP" src="../../../assets/Logos proyecto/APLogo.png" alt="logo argentina programa">
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/Logos proyecto/linkedin.png" alt="logo linkedin" id="linkedin"></a>
            <a href=""><img src="../../../assets/Logos proyecto/twitter.png" alt="logo twitter"id="twitter"></a>
            <a href=""><img src="../../../assets/Logos proyecto/instagram.png" alt="logo instagram" id="instagram"></a>
            <a href=""><img src="../../../assets/Logos proyecto/github.png" alt="logo github" id="github"></a>
            <a href=""><img src="../../../assets/Logos proyecto/facebook.png" alt="logo facebook" id="facebook"></a>
                
            <button type="button" class="btn btn-outline-light">INGRESO</button>
        </div>
            

    </div>

</div>