<div class="row">
    <h2>Educacion</h2>
    <div class="col-lg-11">
        
        <ul>
            <li>
                <h3>#SeProgramar</h3> - <h3>(Oct-Dic 2021)</h3>
            </li>
            <p>Argentina Programa, Camara de la industria Argentina del Software - CESSI, certificado #SeProgramar ID de credencial z17UaXsR4FDTiZQk.</p>
        </ul>
        <ul>
            <li>
                <h3>Python Full Stack </h3> - <h3>(Mar-Oct 2022)</h3>
            </li>
            <p>Programa codo a codo 4.0, Gobierno de la ciudad de Buenos Aires y el ministerio de educacion - OCBA certifica curso de Python Full Stack.</p>
        </ul>
        <ul>
            <li>
                <h3>#YoPrpgramo </h3> - <h3>(Feb-Ago 2022)</h3>
            </li>
            <p>Argentina Programa, Camara de la industria Argentina del Software - CESSI, certificado #SeProgramar ID de credencial .</p>
        </ul>
    </div>
</div>