<div class="row">
    <div>
        <img src="" class="">
    </div>

    <div>
        <p>Diaz Noelia Johanna</p>
        <p>Full Stack Developer</p>
    </div>
    <div>
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima enim asperiores impedit dolores mollitia aliquam. Aspernatur, mollitia. Nulla dignissimos nostrum incidunt molestias, numquam similique qui dolorem, nemo, placeat consectetur ipsa.</p>
        </span>
    </div>
</div>