<div class="row">
    <h2>Expeiencia laboral</h2>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Asistente de ventas</h3> - <h3>(Nov-May2020)</h3>
            </li>
            <p>Farmacia Dr.Ahorro, realizando tareas de atención directa al cliente, asesoramiento y dispensación de medicamentos, control de stock, recepción de mercadería y facturación de productos.</p>
        </ul>
        <ul>
            <li>
                <h3>Acompañañante terapeutica</h3> - <h3>(Dic-Ene 2022)</h3>
            </li>
            <p>Asistencia personalizada a travéz del cuidado y contención a pacientes, brindando apoyo en necesidades básicas.</p>
        </ul>
        

    </div>
</div>
